@import "tailwindcss";

html,
body {
    font-size: 16px;
}

header {
    padding-top: env(safe-area-inset-top);
}

main {
    @apply mx-4;
}

footer {
    padding-bottom: env(safe-area-inset-bottom);
}

label {
    @apply block font-medium mb-2;
}

h1 {
    @apply text-2xl font-medium;
}

h2 {
    @apply text-lg font-medium;
}

/* Custom utility classes */
.hstack {
    @apply flex items-center justify-between;
}
